bumpversion==0.5.3
wheel==0.23.0
watchdog==0.8.3
flake8==2.4.1
tox==2.1.1

#py.test
pytest==2.8.5
pytest-cov==2.2.0

mock==1.3.0

# move to separate requirements file [s3]
boto==2.39.0
moto==0.4.23

Sphinx==1.3.3
PyYAML==3.11

# required only for travis setup, fails on python35
# cryptography==1.0.1

